/* brand colors  light green rgb(43, 180, 84) dark green rgb(6, 99, 64) */

.header-color {
  background: rgb(6, 99, 64);
  background: linear-gradient(
    to right bottom,
    #28b437,
    #0ba03f,
    #008b43,
    #007743,
    #066340
  );
  background: -webkit-linear-gradient(
    to right bottom,
    #28b437,
    #0ba03f,
    #008b43,
    #007743,
    #066340
  );

  opacity: 0.8;
  width: 75%;
  margin: auto;
}
/* fix for hamburger menu display bug */
.mdl-layout__drawer-button {
  padding-top: 10px;
}

.landing-grid {
  background: #ffffff;
  text-align: center;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.products-grid {
  display: flex;
}

.mdl-card {
  width: 320px;
  height: 320px;
  float: left;
  margin: 1rem;
  position: relative;
}

.map {
  left: 0;
  width: 100%;
  height: 70%;
  bottom: 2rem;
  display: block;
  position: relative;
  top: 2rem;
  margin: auto;
}

.logo-img {
  height: 300px;
  padding-top: 2em;
}

.banner-text {
  background: rgb(6, 99, 64);
  background: linear-gradient(
    to right bottom,
    #28b437,
    #0ba03f,
    #008b43,
    #007743,
    #066340
  );
  background: -webkit-linear-gradient(
    to right bottom,
    #28b437,
    #0ba03f,
    #008b43,
    #007743,
    #066340
  );
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text h2 {
  font-size: 45px;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted line;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 25px;
  padding: 1em;
}

.social-links {
  display: inline-flex;
  justify-content: space-between;
  width: 50%;
}

.social-links i {
  color: white;
  font-size: 4em;
  padding: 8px;
}
