/* brand colors  light green rgb(43, 180, 84) #2BB454, dark green rgb(6, 99, 64) */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.header-color {
  background: rgb(6, 99, 64);
  background: linear-gradient(
    to right bottom,
    #28b437,
    #0ba03f,
    #008b43,
    #007743,
    #066340
  );
  background: -webkit-linear-gradient(
    to right bottom,
    #28b437,
    #0ba03f,
    #008b43,
    #007743,
    #066340
  );

  opacity: 0.8;
  width: 75%;
  margin: auto;
}

/* fix for hamburger menu display bug */
.mdl-layout__drawer-button {
  padding-top: 10px;
}

.mdl-layout__drawer-button:hover {
  padding-top: 10px;
  color: black;
}

.demo-big-content:hover {
  color: black;
}

.category-tabs a:hover {
  color: rgb(6, 99, 64);
}

.landing-grid {
  background: #ffffff;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.products-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.mdl-card {
  width: 320px;
  height: 320px;
  float: left;
  margin: 1rem;
  position: relative;
}

.map {
  overflow: visible;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  left: 0;
  top: 0;
}
.map iframe {
  left: 0;
  top: 0;
  height: 60%;
  width: 100%;
  position: absolute;
}

.logo-img {
  height: 300px;
  padding-top: 2em;
}

.banner-text {
  background: rgb(6, 99, 64);
  background: linear-gradient(
    to right bottom,
    #28b437,
    #0ba03f,
    #008b43,
    #007743,
    #066340
  );
  background: -webkit-linear-gradient(
    to right bottom,
    #28b437,
    #0ba03f,
    #008b43,
    #007743,
    #066340
  );
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 50px;
  font-weight: 500px;
  color: white;
}

.banner-text h2 {
  font-size: 45px;
  color: white;
}

.banner-text hr {
  width: 60%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 25px;
  padding: 0.5em;
  overflow-wrap: break-word;
}

.banner-text a:link {
  text-decoration: none;
}

.banner-text a:hover {
  background-color: #008b43;
}

.about-text {
  margin: 5rem;
  padding: 1rem;
}

.about-text h2 {
  font-size: 2.5rem;
  text-align: center;
  color: rgb(6, 99, 64);
  font-weight: 400;
}

.about-text p {
  font-size: 1.2rem;
  color: #3b3b3b;
  margin-bottom: 0;
  line-height: 2em;
}

.about-text ul {
  font-size: 1.2rem;
  line-height: 2em;
  color: #3b3b3b;
  text-align: center;
  list-style: none;
}

.social-links {
  display: inline-flex;
  justify-content: space-between;
  width: 50%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.social-links i {
  color: white;
  font-size: 4em;
  padding: 8px;
}

.mdl-layout__drawer {
  color: #007743;
}

.mdl-navigation__link :hover {
  background-color: #007743;
  color: white;
}
